body {
    color: #000;
    width: 95vw;
    height: 90vh;
    border: 1px solid gray;
    padding: 10px;
    background-size: cover;
    background-image: url(R.jfif);
    background-repeat:no-repeat;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#botaoADD{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div{
 text-align: center;
}

td, th {
    padding: .7em;
    margin: 0;
    text-align: center;
}
  
th{
    
}

td{
    font-weight:bold;
}
  
table{
    width: 100%;
    margin-bottom : .5em;
    table-layout: fixed;
    text-align: center;
  }